<meta charset="utf-8" />
{% load static %}
<link rel="stylesheet" href="{% static 'photos/assets/css/main.css' %}" />
<link rel="stylesheet" href="{% static 'photos/assets/css/ie9.css' %}" />

<div id="page-wrapper">
	<div id="header-wrapper">
		<div class="container">
			<div class="row">
				<div class="12u">

					<header id="header">
						<h1><a href="#" id="logo">BIRBCOIN 2.0</a></h1>
						<nav id="nav">
							<a href="#" class="current-page-item">Homepage</a>
							<a href="{% url 'pic' %}">Bird Pics</a>
							<a href="{% url 'register' %}">Register</a>
						</nav>
					</header>

				</div>
			</div>
		</div>
	</div>

{% block body %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
